.gooey-nav-container {
  position: relative;
}

.gooey-nav-container nav {
  display: flex;
  position: relative;
}

.gooey-nav-container nav ul {
  display: flex;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  color: var(--muted-foreground, #9a9aad) !important;
}

.gooey-nav-container nav ul li {
  border-radius: 100vw;
  position: relative;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 0 0.5px 1.5px transparent;
  color: var(--muted-foreground, #9a9aad) !important;
  font-size: 0.875rem;
}

.gooey-nav-container nav ul li a {
  display: inline-block;
  padding: 0.5em 0.9em;
}

.gooey-nav-container nav ul li:focus-within:has(:focus-visible) {
  box-shadow: 0 0 0.5px 1.5px white;
}

.gooey-nav-container nav ul li::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: var(--foreground, white);
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease;
  z-index: -1;
}

.gooey-nav-container nav ul li.active {
  color: var(--background, black) !important;
  text-shadow: none;
}

.gooey-nav-container nav ul li.active::after {
  opacity: 1;
  transform: scale(1);
}
